#profil { background-color: #f4f4f4; }
#visi { background-color: #f0e6e6; }
#sejarah { background-color: #e6e9f0; }
#data { background-color: #f0f0e6; }
#analisis-data { background-color: #f0e6f0; }
#pencapaian { background-color: #e6f0e6; }
#proyek { background-color: #f4f4f4; }
#kontak { background-color: #1e1e1e; color: var(--text-light); }